@(title: String, description: String)

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0z_qkDYaWfASjQU-QzmiFcdr89i_NTFrYg6v_2Pq2h4" />
    <meta name="description" content="@description">
    <meta name="keywords" content="chor, köln, koeln, studienstiftung, studienstiftungschor">
    <title>@title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <script type="text/javascript" src="/script.js"></script>
</head>