@(title: String)

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0z_qkDYaWfASjQU-QzmiFcdr89i_NTFrYg6v_2Pq2h4" />
    <title>@title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <script type="text/javascript" src="/script.js"></script>
</head>