@(title: String, canonicalUrl: String, description: String)

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0z_qkDYaWfASjQU-QzmiFcdr89i_NTFrYg6v_2Pq2h4" />
    <link rel="canonical" href="http://www.studienstiftungschor-koeln.de@canonicalUrl">
    <meta name="description" content="@description">
    <meta name="keywords" content="chor, köln, koeln, studienstiftung, studienstiftungschor">
    <meta name="theme-color" content="#f5f5f5"/>
    @if(canonicalUrl != "/"){
        <meta name="robots" content="noindex"/>
    }
    <title>@title</title>
    <link href="/style.css" rel="stylesheet" />
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
    <script type="text/javascript" src="/script.js" defer></script>
</head>