.hero-with-image {
    background-image: url('/images/Chor-breit_2015.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}