<!DOCTYPE html>
<html>

    @components.head(
        title = "Studienstiftungschor Köln - Chorleitung",
        description = "Im Herbst 2014 haben Katharina Vincon und Johanna Vinnen gemeinschaftlich die Leitung des Studienstiftungschors übernommen."
    )

<body>

    @components.navbar("/chorleitung")

<div class="columns is-centered is-mobile">
    <div class="column single-column">

        <section class="section">

            <h1 class="title is-1">Chorleitung</h1>

            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="images/chorleitung/Johanna_Kathi.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">

                    <div class="content">
                        <p>Im Herbst 2014 haben <strong>Johanna Vinnen</strong> und <strong>Katharina Vincon</strong>
                            gemeinschaftlich die Leitung des Studienstiftungschors übernommen.</p>
                        <p><strong>Johanna Vinnen</strong>
                            wurde 1992 in Bielefeld geboren. Während der Schulzeit erhielt sie Unterricht in Blockflöte, Klavier, Gesang, Orgel und Geige und wirkte in verschiedenen Chören und Orchestern mit. Seit dem Sommersemester 2013 studiert sie in Köln Musik und Deutsch auf Lehramt und singt seitdem auch im Kölner Studienstiftungschor mit.</p>
                        <p><strong>Katharina Vincon</strong>
                            wurde 1993 in Königswinter geboren. Während ihrer Schulzeit erhielt sie Klavier-, Geigen- und Posaunenunterricht und sang in mehreren Chören sowohl klassische Literatur als auch Populär- und Jazzmusik. Momentan studiert sie Musik und Englisch auf Lehramt. Sie ist seit 2013 Mitglied im Kölner Chor der Studienstiftung.</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image" >
                        <img src="images/chorleitung/Vera_Cremer.jpg">
                    </figure>
                </div>
                <div class="card-content">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>Vom Sommer 2013 bis zum Herbst 2014 wurde der Studienstiftungschor von <strong>Vera Cremer</strong>
                                    geleitet.</p>
                                <p>Vera Cremer wurde 1990 in Düren geboren. Während ihrer Schulzeit erhielt sie Klavier-, Gesangs-, Querflöten-, und Cellounterricht. Sie absolvierte außerdem die C-Ausbildung für Kirchenmusik.  Sie studierte in Köln Schulmusik und Französisch und war seit 2011 Mitglied im Kölner Chor der Studienstiftung. Im November 2014 beendete sie ihr Studium und ging ins Referendariat.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="image" >
                        <img src="images/chorleitung/Paul-Kraemer2012.jpg">
                    </figure>
                </div>
                <div class="card-content">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>Gegründet wurde der Kölner Studienstiftungschor im Mai 2010 von <strong>Paul Krämer</strong>.</p>
                                <p>Nach einer Kirchenmusik C-Ausbildung nahm er ein Studium in Mathematik und Schulmusik auf, in dem er ersten Dirigierunterricht bei Prof. Eberhard Metternich erhielt. Seit 2012 studiert Paul Krämer Chordirigieren bei Prof. Marcus Creed an der Hochschule für Musik und Tanz Köln. Seit Mitte 2013 ist er künstlerischer Leiter der Kartäuserkantorei Köln.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </section>
    </div>
</div>
</body></html>