<!DOCTYPE html>
<html>

@components.head("Studienstiftungschor Köln - Chorleiter")

<body>
<img src="images/Chor-breit_2015.jpg" width="100%" alt="Konzert im Sommer 2015" border="0">
<table cellpadding="10"><tbody><tr>
    @components.nav()
    <td>

<table cellpadding="10"><tbody><tr><td colspan="2" class="oben" width="75%">
<h1>Chorleiter</h1>

<p>
Gegründet wurde der Kölner Studienstiftungschor im Mai 2010 von <a href="http://www.kartaeuserkantorei.de/index.php?seite=chorleitung.html" target="blanc"><strong>Paul Krämer</strong></a>. 
</p>
<p>
Nach einer Kirchenmusik C-Ausbildung nahm er ein Studium in Mathematik und Schulmusik auf, in dem er ersten Dirigierunterricht bei Prof. Eberhard Metternich erhielt. Seit 2012 studiert Paul Krämer Chordirigieren bei Prof. Marcus Creed an der Hochschule für Musik und Tanz Köln. Seit Mitte 2013 ist er künstlerischer Leiter der <a href="http://www.kartaeuserkantorei.de/">Kartäuserkantorei Köln</a>.
</p>
</td><td>
<img src="images/chorleiter/Paul-Kraemer2012.jpg" width="90%" alt="Paul Kämer-Foto"></td>
</tr><tr>
<td colspan="2" class="oben">
<p>
Vom Sommer 2013 bis zum Herbst 2014 wurde der Studienstiftungschor von <strong>Vera Cremer</strong> geleitet.
</p><p>
Vera Cremer wurde 1990 in Düren geboren. Während ihrer Schulzeit erhielt sie Klavier-, Gesangs-, Querflöten-, und Cellounterricht. Sie absolvierte außerdem die C-Ausbildung für Kirchenmusik.  Sie studierte in Köln Schulmusik und Französisch und war seit 2011 Mitglied im Kölner Chor der Studienstiftung. Im November 2014 beendete sie ihr Studium und ging ins Referendariat.
</p>
</td><td>
<img src="images/chorleiter/Vera_Cremer.jpg" width="90%" alt="Vera Cremer-Foto">
</td></tr><tr>
<td class="oben">
<p>
Im Herbst 2014 haben <strong>Katharina Vincon</strong> und <strong>Johanna Vinnen</strong> gemeinschaftlich die Leitung des Studienstiftungschors übernommen.
</p><p>
Katharina Vincon wurde 1993 in Königswinter geboren. Während ihrer Schulzeit erhielt sie Klavier-, Geigen- und Posaunenunterricht und sang in mehreren Chören sowohl klassische Literatur als auch Populär- und Jazzmusik. Momentan studiert sie Musik und Englisch auf Lehramt. Sie ist seit 2013 Mitglied im Kölner Chor der Studienstiftung. 
</p><p>
Johanna Vinnen wurde 1992 in Bielefeld geboren. Während der Schulzeit erhielt sie Unterricht in Blockflöte, Klavier, Gesang, Orgel und Geige und wirkte in verschiedenen Chören und Orchestern mit. Seit dem Sommersemester 2013 studiert sie in Köln Musik und Deutsch auf Lehramt und singt seitdem auch im Kölner Studienstiftungschor mit.
</p>
</td><td class="oben" width="25%">
<img src="images/chorleiter/Kathi.jpg" width="90%" alt="Katharina Vincon">
</td><td class="oben">
<img src="images/chorleiter/Johanna.jpg" width="90%" alt="Johanna Vinnen">
</td></tr>
</tbody></table>


</td></tr>
</tbody></table>


</body></html>