<!DOCTYPE html>
<html lang="de">

@components.head(
    title = "Studienstiftungschor Köln",
    canonicalUrl = "/",
    description = "Studienstiftungschor Köln. Wir freuen uns über alle neue Mitglieder, die unsere Begeisterung für das Singen teilen."
)

<body>
@components.navbar("/")

<section class="hero is-medium is-bold hero-with-image" style="background-image: url('/images/hero.jpg')">
    <a class="hero-body" href="/images/hero.jpg"></a>
</section>

<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <!--<h1 class="title is-1">Studien&shy;stiftungs&shy;chor Köln</h1>-->

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Studien&shy;stiftungs&shy;chor Köln
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Willkommen auf unserer Website! Wir sind ein gemischter, vier- bis sechsstimmiger Chor, der seit
                        2010 die Begeisterung für das Singen teilt. Bei unseren wöchentlichen Proben singen wir uns
                        durch verschiedene Sprachen, Stilrichtungen und Epochen – von zeitgenössischem Pop bis hin zu
                        klassischen Werken. Jedes Semester stellen wir uns aufs Neue der Herausforderung, gemeinsam ein
                        klanglich vielfältiges Konzert für unser Publikum vorzubereiten.
                    </p>
                    <p>
                        <a href="/ueber-uns">Mehr über uns gibt es hier.</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Aktuelles Programm
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Aktuell proben wir für unser Sommerkonzert am <strong>So., 14.7.2019</strong>, das um <strong>18
                        Uhr</strong> in der Katholischen Hochschulgemeinde Köln (Berrenrather Straße 127) stattfinden
                        wird.
                    </p>
                    <p>
                        Unter dem Motto <strong>„Stadt, Land, Fluss“</strong> reisen wir dabei um die ganze Welt und
                        präsentieren Stücke unterschiedlicher Epochen, z.B. von Antonín Dvořák, Enya, Franz Schubert,
                        Frank Sinatra, Ola Gjeilo, Jacques Brel, Francesco S. Patavino, Edith Piaf und den Beach Boys.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <iframe width="100%" height="310"
                    style="margin-bottom: -6px;"
                    src="https://www.youtube.com/embed/slJhyjcSw_s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

        <div class="image-wrapper">
            <a href="http://www.studienstiftung.de/" target="_blank">
                <img src="/images/stipendiaten-machen-programm.jpg" style="border: 1px solid #ccc;"
                     alt="Studienstiftung des deutschen Volkes: Stipendiaten machen Programm">
            </a>
        </div>
    </div>
</div>
</body>
</html>

