<!DOCTYPE html>
<html lang="de">

    @components.head(
        title = "Studienstiftungschor Köln",
        canonicalUrl = "/",
        description = "Studienstiftungschor Köln. Wir freuen uns über alle neue Mitglieder, die unsere Begeisterung für das Singen teilen."
    )

<body>
    @components.navbar("/")

<section class="hero is-medium is-bold hero-with-image" style="background-image: url('/images/hero.jpg')">
    <a class="hero-body" href="/images/hero.jpg"></a>
</section>

<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <h1 class="title is-1">Studien&shy;stiftungs&shy;chor Köln</h1>

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Willkommen auf unserer Website!
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        <b>Wer sind wir?</b>
                    </p>
                    <p>
                        Wir sind ein gemischter, vier- bis sechsstimmiger Chor, der seit
                        2011 die Begeisterung für das Singen teilt. Bei unseren wöchentlichen Proben singen wir uns
                        durch
                        verschiedene Sprachen, Stilrichtungen und Epochen – von zeitgenössischem Pop bis hin zu
                        klassischen Werken. Jedes Semester stellen wir uns aufs Neue der Herausforderung, gemeinsam ein
                        klanglich vielfältiges Konzert für unser Publikum vorzubereiten.

                    </p>
                    <p>
                        Der Chor wurde 2010 von Stipendiaten und Stipendiatinnen der Studienstiftung des deutschen
                        Volkes gegründet. Mittlerweile ist er nicht nur für Mitglieder der Stiftung offen, sondern für
                        alle, die
                        sich für das Singen begeistern wie wir. Wir singen vier- bis sechsstimmige Stücke (SATB, SMATB
                        und
                        SSAATB) und sind aktuell ca. 30 Sängerinnen und Sänger im Alter von 20 bis 50 Jahren.
                    </p>
                    <p><b>Was macht unseren Chor aus?</b></p>
                    <p>
                        Bei unseren wöchentlichen Proben in der Kölner Innenstadt singen wir
                        uns gemeinsam durch verschiedene Sprachen, Stilrichtungen und Epochen – von zeitgenössischem
                        Pop bis hin zu klassischen Werken. Jedes Semester stellen wir uns aufs Neue der Herausforderung,
                        gemeinsam ein klanglich abwechslungsreiches Konzert für unser Publikum vorzubereiten. Jedes
                        Chormitglied kann Stücke vorschlagen.
                    </p>
                    <p>
                        Einmal pro Semester organisieren wir ein Probenwochenende, um intensiv an unserem Programm zu
                        arbeiten und vor dem Konzert noch einmal alle Stücke aufzupolieren. Ein unterhaltsames
                        Abendprogramm kommt dabei natürlich nie zu kurz!
                    </p>
                    <p>
                        <b>Wie kann ich teilnehmen?</b>
                    </p>
                    <p>
                        Wenn du dabei sein willst, schreib einfach eine E-Mail an unsere Chorleiterinnen
                        <a href="mailto:chor.studienstiftung.koeln@@gmail.com">Johanna und Kathi</a> -
                        und singe zum Schnuppern bei einer unserer Proben im <a href="https://goo.gl/maps/gZg3P2CT7sG2">Gemeindesaal der Mauritiuskirche</a> (zwischen
                        Neumarkt und Zülpicher Platz) mit. Wir proben (so gut wie) ganzjährig montags von 19:30 – 21:30
                        Uhr.
                    </p>
                    <p>
                        Wer bei uns mitmacht, kann sich nicht nur über die gemeinsamen Proben freuen, sondern auch über
                        unseren exklusiven Abendausklang in der Kneipe direkt nebenan.
                    </p>
                    <p>
                        <b>Was kostet mich die Teilnahme?</b>
                    </p>
                    <p>
                        Dank der Unterstützung der Studienstiftung des deutschen Volkes ist die Teilnahme am Chor
                        kostenfrei.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Aktuelles Programm
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Aktuell proben wir für unser Sommerkonzert am <strong>So., 14.7.2019</strong>, das um <strong>18
                        Uhr</strong> in der
                        Katholischen Hochschulgemeinde Köln (Berrenrather Straße 127) stattfinden wird.
                    </p>
                    <p>
                        Unter dem Motto <strong>„Stadt, Land, Fluss“</strong> reisen wir dabei um die ganze Welt und
                        präsentieren
                        Stücke unterschiedlicher Epochen, z.B. von Antonín Dvořák, Enya, Franz Schubert, Frank
                        Sinatra, Ola Gjeilo, Jacques Brel, Francesco S. Patavino, Edith Piaf und den Beach Boys.
                    </p>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <a href="http://www.studienstiftung.de/" target="_blank">
                <img src="/images/stipendiaten-machen-programm.jpg" style="border: 1px solid #ccc;"
                     alt="Studienstiftung des deutschen Volkes: Stipendiaten machen Programm">
            </a>
        </div>
    </div>
</div>
</body>
</html>

