<!DOCTYPE html>
<html>

    @components.head("Studienstiftungschor Köln")

<body>
    @components.navbar("/")

<section class="hero is-medium is-bold hero-with-image" style="">
    <div class="hero-body"></div>
</section>

<section class="section">
    <div class="content container">

        <h1 class="title is-1">Der Kölner Studien&shy;stiftungs&shy;chor</h1>
        <p>
        Wir sind eine bunte Mischung aus Jung und Alt, manche haben schon etwas mehr Chorerfahrung, andere entdecken ihre Stimme gerade erst wieder.
            Momentan hat der Chor ca. 30 Mitglieder.
            Egal ob Anfänger oder Profi, solange Du Spaß am Singen hast, bist du bei uns richtig!
        </p>

        <p>
        Wir freuen uns über alle neue Mitglieder, die unsere Begeisterung für das Singen teilen.
            Im laufenden Probenabschnitt sollten neue Interessenten bitte vor der Probenteilnahme eine Email an die <a href="/kontakt">Chorleitung</a>
            schicken.
        </p>

        <p>
        Unsere wöchentlichen Proben finden montags von 19:30-21:30 im <a href="https://goo.gl/maps/gZg3P2CT7sG2" target="_blank">Gemeindesaal von St. Mauritius in Köln</a>
            statt.
        </p>

        <p>
        Dank der Unterstützung der <a href="http://www.studienstiftung.de/" target="blanc">Studienstiftung des deutschen Volkes</a>
            ist die Teilnahme am Chor kostenfrei.
        </p>

        <article class="message is-info">
            <div class="message-body">
                Unser nächstes Konzert <a href="/programm"><em>Starlight</em></a> ist am 15. Dezember 2018 in der Aula der Universität, Albertus-Magnus-Platz.
            </div>
        </article>
    </div>
</section>

<section class="section has-text-right">
    <div class="content container">
        <a href="http://www.studienstiftung.de/" target="_blank">
            <img src="images/stipendiaten-machen-programm.jpg" style="border: 1px solid #ccc;" alt="Studienstiftung des deutschen Volkes: Stipendiaten machen Programm">
        </a>
    </div>
</section>
</body></html>