<!DOCTYPE html>
<html lang="de">
    @components.head(
        title = "Studienstiftungschor Köln - Kontakt",
        canonicalUrl = "/kontakt",
        description = "Für alle Fragen zur Probenteilnahme, zum musikalischen Programm und zur Konzertorganisation"
    )

<body>
    @components.navbar("/kontakt")

<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <h1 class="title is-1">Kontakt</h1>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Email Kontakt
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Chorleitung: <a href="mailto:chor.studienstiftung.koeln@@gmail.com">Katharina Vincon & Johanna Vinnen</a>
                        <br/>
                        Für alle Fragen zur Probenteilnahme, zum musikalischen Programm und zur Konzertorganisation.</p>
                    <p>Webseite: <a href="mailto:gregor.ihmor@@gmail.com">Gregor Ihmor</a>
                        <br/>
                        Für alle Fehler und Probleme in den Webseiten des Studienstiftungschors.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Datenschutz
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Wir erheben und speichern keinerlei personenbezogenen Daten auf unserer Webseite. Insbesondere
                        werden keine IP-Adressen gespeichert, keine personenbezogenen Daten abgefragt und keinerlei Cookies
                        gespeichert. Eine Nachverfolgung wer wann welche Teile unserer Webseite besucht hat, ist uns
                        technisch nicht möglich.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body></html>