@import data.Concert

@concertCard(concert: Concert) = {
    <div class="card">
        <div class="card-content">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-128x128 image-container">
                        <a href="@{concert.flyerLinkUrl.getOrElse(concert.flyerImageUrl)}">
                            <img src="@concert.flyerImageUrl">
                        </a>
                    </p>
                </figure>
                <div class="media-content">
                    <p class="title is-4">@concert.name</p>
                    <p class="subtitle is-6">@concert.date</p>
                </div>
            </div>

            <div class="content">
            @for(line <- concert.content) {
                <p>
                @Html(line)
                </p>
            }
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="@concert.flyerLinkUrl.getOrElse(concert.flyerImageUrl)">
                <img src="images/zoom_in.svg" alt="Fyler">
            </a>
            @for(audioSample <- concert.audioSamples) {
                <a class="card-footer-item" href="@audioSample">
                    <img src="images/music_note.svg" alt="Hörbeispiel">
                </a>
            }
            @for(image <- concert.images) {
                <a class="card-footer-item" href="@image">
                    <img src="images/photo.svg" alt="Konzertbild">
                </a>
            }
        </footer>
    </div>
}

<!DOCTYPE>
<html>

    @components.head(
        title = "Studienstiftungschor Köln - Konzerte",
        description = "Die Übersicht über unseren Konzerte, mit Hörproben."
    )

<body>
    @components.navbar("/konzerte")

<div class="columns is-centered">
    <div class="column single-column">

        <section class="section">

            <h1 class="title is-1">Konzerte</h1>

            @for(concert <- Concert.all) {
                @concertCard(concert)
            }

        </section>
    </div>
</div>
</body></html>