@import data.Concert

@concertCard(concert: Concert) = {
    <div class="card">
        <div class="card-content">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-128x128 image-container">
                        <a href="@concert.flyerImageUrl">
                            <img src="@concert.flyerThumbnailUrl" alt="Flyer">
                        </a>
                    </p>
                </figure>
                <div class="media-content">
                    <p class="title is-4">@Html(concert.name)</p>
                    <p class="subtitle is-6">@concert.date</p>
                </div>
            </div>

            <div class="content">
            @for(line <- concert.content) {
                <p>
                @Html(line)
                </p>
            }
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="@concert.flyerImageUrl">
                <span class="icon"><i class="fas fa-search-plus"></i></span>
            </a>
            @for(audioSample <- concert.audioSamples) {
                <a class="card-footer-item" href="@audioSample">
                    <span class="icon"><i class="fas fa-music"></i></span>
                </a>
            }
            @for(image <- concert.images) {
                <a class="card-footer-item" href="@image">
                    <span class="icon"><i class="fas fa-image"></i></span>
                </a>
            }
        </footer>
    </div>
}

<!DOCTYPE>
<html lang="de">

    @components.head(
        title = "Studienstiftungschor Köln - Konzerte",
        canonicalUrl = "/konzerte",
        description = "Die Übersicht über unseren Konzerte, mit Hörproben."
    )

<body>
    @components.navbar("/konzerte")

<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <h1 class="title is-1">Vergangene Konzerte</h1>

        @for(concert <- Concert.all) {
            @concertCard(concert)
        }
    </div>
</div>
</body></html>