<!DOCTYPE>
<html lang="de">

    @components.head(
        title = "Studienstiftungschor Köln - Aktuelles Programm",
        canonicalUrl = "/programm",
        description = "Wir beginnen gerade die Proben für unser neues Konzert Across the Universe."
    )

<body>
    @components.navbar("/programm")
<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <section class="section">
            <div class="content">
                <h1 class="title is-1">Unser aktuelles Programm</h1>
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p> 
                                Aktuell proben wir für unser Sommerkonzert am So., 14.7.2019, das um 18 Uhr in der Katholischen Hochschulgemeinde Köln (Berrenrather Straße 127) stattfinden wird.
</p><p>
                                Unter dem Motto „Stadt, Land, Fluss“ reisen wir dabei um die ganze Welt und präsentieren Stücke unterschiedlicher Epochen, z.B. von Antonín Dvořák, Enya, Franz Schubert, Frank Sinatra, Ola Gjeilo, Jacques Brel, Francesco S. Patavino, Edith Piaf und den Beach Boys.
                            </p>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>
</body>

</html>
