<!DOCTYPE>
<html>

    @components.head(
        title = "Studienstiftungschor Köln - Aktuelles Programm",
        canonicalUrl = "/programm",
        description = "Wir beginnen gerade die Proben für unser neues Konzert Across the Universe."
    )

<body>
    @components.navbar("/programm")
<div class="columns is-centered is-mobile">
    <div class="column single-column">
        <section class="section">
            <div class="content">
                <h1 class="title is-1">Unser aktuelles Programm</h1>
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p> Die Proben zu unserem nächsten Konzert sind schon im vollen Gange.
                                Es steht unter dem Motto <strong>Across the Universe</strong> und umfasst Werke von Bruckner, den Beatles, Schubert, Rammstein, Johann Schulz, Monteverdi, Queen, Erik Esenvalds, David Bowie und Justin Hurwitz.
                                Ausserdem gibt es eine Uraufführung von Martín Letelier.
                            </p>
                        </div>
                    </div>
                </div>

                <article class="message is-info">
                    <div class="message-body">
                        Das Konzert wird am 15. Dezember 2018 um 17:30 in der <a href="https://goo.gl/maps/bywD2PSvwtq" target="_blank">Aula 2 der Universität (Albertus-Magnus-Platz 1)</a>
                        stattfinden.
                    </div>
                </article>
            </div>
            <a href="/konzerte/WS18/Plakat.jpg">
                <figure class="image">
                    <img src="/konzerte/WS18/Plakat.jpg"/>
                </figure>
            </a>
        </section>
    </div>
</div>
</body>

</html>