<!DOCTYPE>
<html>

    @components.head(
        title = "Studienstiftungschor Köln - Aktuelles Programm",
        description = "Wir beginnen gerade die Proben für unser neues Konzert Starlight."
    )

<body>
    @components.navbar("/programm")

<section class="section">
    <div class="content container">
        <h1 class="title is-1">Unser aktuelles Programm</h1>

        <p>
    Wir beginnen gerade die Proben für unser neues Konzert <em>Starlight</em>.
            Wir haben schon einige Stücke dafür von Bruckner, den Beatles, Schubert, Rammstein, Johann Schulz, Monteverdi, Queen, Erik Esenvalds, David Bowie und Justin Hurwitz, aber wir sind noch auf der Suche nach weiteren passenden Ideen, insbesondere klassischen Stücken.
        </p>
        <p>
            Das Konzert wird am 15. Dezember 2018 in der <a href="https://goo.gl/maps/bywD2PSvwtq" target="_blank">Aula der Universität (Albertus-Magnus-Platz 1)</a> sein.<br>
        </p>
    </div>
</section>
</body></html>